
# vvvv gamma cache
cache/
_temp/
GPUCache/

# VVVV archive
archive/

# Dynamic plugins .dll
bin/

# TDFolder
TDTestfolder/

# Utils folder
_Utils/


# VVVV gamma system files
vvvv/*.pc
vvvv/*.pcb
vvvv/*.props
vvvv/*.data

# Cursor files
.cursor/rules/system_local.mdc